extends layout 

block content 
  h1= title

  +displayBoard(board)

  if user 
    form(method='POST')
      h2 Create Post

      .form-group 
        label(for='content') Post: 
        textarea.form-control(name='content' id='content' value=content required)
        if errors && errors.has('content')
          p.error-message * #{errors.get('content')}

      button.submit(type='submit') Create Post