extends layout 

block content 
  h1= title

  form(method='POST')
    div
      label(for='username') Username:
      input(type='text' name='username' id='username')
    div
      label(for='password') Password:
      input(type='password' name='password' id='password')

    button(type='submit') Sign Up

    p Already have an account? 
      a(href='/login') Log In