* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

  --primary-color: #3DCEB3;
  --primary-color-alt: #29A28B;
  --danger-color: #CE3D59;
  --danger-color-alt: #A22940;
  --foreground-color: #333;
  --background-color: #f8f8f8;
  --background-color-alt: #c4c4c4;
  --light-color: #f8f8f8;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #29A28B;
    --primary-color-alt: #3DCEB3;
    --danger-color: #A22940;
    --danger-color-alt: #CE3D59;
    --foreground-color: #f8f8f8;
    --background-color: #333;
    --background-color-alt: #111;
  }
}

body {
  background-color: var(--background-color);
}

a {
  /* color: var(--primary-color); */
  text-decoration: none;
}

a:hover {
  /* color: var(--primary-color-alt); */
}

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
}

header a {
  color: var(--light-color);
}

header a:hover:not(.logo a) {
  background-color: var(--primary-color-alt);
}

.logo a {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
}

nav {
  flex: 1;
}

menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;
}

menu li {
  list-style: none;
}

menu a {
  display: block;
}

.nav-links,
.account-buttons {
  display: flex;
}

.nav-links a {
  font-size: 1.5rem;
  padding: 1.2rem;
}

.account-buttons {
  align-items: center;
  gap: 1rem;
}

.account-buttons a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .6rem 1rem;
  border-radius: 2rem;
  transition: all .2s ease;
}

.account-buttons .login {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.account-buttons .login:hover {
  background-color: var(--primary-color-alt);
  color: var(--light-color);
}

.account-buttons .sign-up,
.account-buttons .logout {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: .15rem solid var(--light-color);
}